* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Tahoma, Arial, sans-serif;
  background-color: black;
}

.slider {
  width: 80vw;
  height: 80vh;
  margin: 5vh auto;
}

.slider_inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40vw auto;
  grid-template-areas:
    "slides   slides"
    "text     controls";
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.slider_wrap {
  grid-area: slides;
  width: 100%;
  height: 100%;
  border: 0.5vw solid white;
  border-radius: 2rem;
  overflow: hidden;
}

.slider_slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slider input[type="radio"] {
  appearance: none;
}

.slider_nav {
  grid-area: controls;
  display: flex;
  width: 100%;
  justify-content: end;
}

.slider_nav-item {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background-image: radial-gradient(circle closest-side at 50% 50%, #18a3dd 50%, transparent 50%); 
}

.slider_nav-item:hover,
.slider_nav-item:focus {
  background-image: radial-gradient(circle closest-side at 50% 50%, white 50%, transparent 50%);
}

.slider_nav-item:active {
  background-image: radial-gradient(circle closest-side, black 0.6rem, #18a3dd 0.7rem, black 0.8rem);
  opacity: 0.5;
 }

.slider_slide {
  width: 20%;
  transition: all 0.5s ease-in-out;
}

.slider_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
